@using Microsoft.Ajax.Utilities
@model StackCafe.MakeLineMonitor.Models.MakeLineViewModel
@{
    ViewBag.Title = "Make Line Monitor";
}

<style>
    .item {
        float: left;
        border: 1px solid grey;
    }
</style>

<div class="jumbotron">

    @if (!Model.view.IsNullOrWhiteSpace())
    {
        <h1>Welcome to Stack Cafe - @Model.view</h1>
    }
    else
    {
        <h1>Welcome to Stack Cafe</h1>
    }

    <p class="lead">Now go and make coffee.</p>
    <p>
        And <em>don't smile at the customers!</em>
    </p>
    <form>
        <input type="radio" id="Food"/>
        <label for="Food">Food</label>
        <input type="radio" id="Drink"/>
        <label for="Drink">Drink</label>
    </form>

</div>
@if (!Model.view.IsNullOrWhiteSpace())
{
    <div class="row">
        <div class="col-sm-12">
            <h2>Make line monitor</h2>
            <p>
                Make the @Model.view.ToLowerInvariant() in order from left to right. Poke the button on the screen when you've made the coffee.
            </p>
        </div>
    </div>
    <div class="row" id="items"></div>
}


@section scripts
{
    <script>
        (function worker() {
            var urlParams = new URLSearchParams(window.location.search);

            jQuery.ajax({
                url: '@Url.Action("GetItems", "MakeLine", new { view = Model.view })',
                success: res => {
                    var $items = $('#items');
                    $items.empty();
                    res.Items.map(item => {
                        $items.append(
                            $('<div/>', { class: 'col-md-4 item' }).append(
                                $('<h2/>', { text: item })
                            )
                        );
                    });
                },
                complete: () => {
                    setTimeout(worker, 500);
                }
            });
        })();

        jQuery('#Food').click(e => {
            window.location.href = '@Url.Action("Index", "MakeLine", new { view = "Food" })';
        });

        jQuery('#Drink').click(e => {
            window.location.href = '@Url.Action("Index", "MakeLine", new { view = "Drink" })';
        });
    </script>
}